body{
    background-color: bisque;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.biglietto{
    border-radius: 20px;
    height: 500px;
    width: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/unnamed.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.biglietto h1{
    text-transform: uppercase;
}

.biglietto  p >span{
    font-weight: bold;
    padding-left: 1rem;
    font-size: 1.2rem;
}

#prezzo_biglietto::after{
    content: "\20AC";
}

#km_da_percorere::after{
    padding-left: 0.5rem;
    content: "Km";
}